form {
       font-family: Arial, sans-serif;
       padding: 10px; }
label { float: left;
        width: 100px;
        clear: left;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px; }
input, textarea { margin-top: 10px;
                  display: block; }
#mySubmit { margin-left: 110px; }
