
body{
    background-color: lightcoral;
}

h1{
    color:blue;
}

#wrapper{
 position: relative;
 left:100px;
 top:100px;
 }

#Table_Calc{
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;
}


#row1{
    width:400px;
    height:40px;
    background-color: black;
    color:greenyellow;
    font-size:20px;
    font-weight: bold;
    border: 5px solid white;
}

.NumberButton{
    background-color: black;
    color:white;
    width:75px;
    height: 35px;
    font-weight: 600;
    font-size:25 px;
}

.OtherButton{
    background-color: #6f6f6f;
    color:white;
    font-weight: 600;
    width:85px;
    height: 35px;
    font-size:25 px;
}

.SymbolButton{
    background-color:#ff9933;
    color:white;
    font-size:25 px;
    width:75px;
    height: 35px;
    font-weight: 600;
}

#SymbolButton{
    font-weight: 1000;
}

footer{
    color:black;
    font-weight: 1000;
    margin-top:50px;
}